.light-bg {
  background-color: rgba(126, 126, 126, 0.253);
}

.large-icon {
  font-size: 60px !important;
}

.title {
  color: #ff00bf;
}
.personalized-padding {
  padding-block: 37px !important;
}

.no-margin {
  margin-inline: -8px;
}

.wind-container,
.humidity-container {
  flex-basis: 50%;
}

.other-status-container {
  margin-right: -10px;
}

.humidity-container {
  margin-left: -12px;
}
